/* assets/bike1.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f2;  /* Light grey background */
}

.nav-link {
    color: #fff; /* White text for nav links */
}

h1, h2, h3 {
    color: #2a9d8f; /* Soft green for headers */
}

.content {
    display: flex;
    align-items: center; /* Vertically center align items */
    justify-content: center; /* Horizontally center align items */
    padding: 20px;
    margin: auto;
    width: 80%;
}

.text-section {
    flex: 1; /* Take up half of the space */
    padding-right: 20px; /* Space between text and image */
    text-align: center; /* Center text alignment */
}

.image-section {
    flex: 1; /* Take up half of the space */
    text-align: right; /* Align image to the right */
}

.image-section img {
    max-width: 70%; /* Reduce image width for better layout */
    height: auto;
}

.map {
    height: 500px;
    width: 100%;
}

.footer {
    background-color: #264653; /* Dark blue background for footer */
    color: white;
    padding: 10px;
    text-align: center;
}
